h1{
    text-align: center;
}

.part-1{
    width: 35.5%;
    text-align: left;
    float: left;
}


.part-2{
    text-align: left;
    float: left;

}

.part-3{
    text-align: right;
    float: left;
}

.part_4{
    text-align: left;
    float: left;
}
.part-5{

}
